# vim temp files
*.swp

# compiled binaries
bin/

# deployed source files and binaries
submit/*.c
submit/*.h
submit/*Major

# testing file sending
*.txt
*.mp4
*.pptx
*.jpg

# recorded script sessions (for submission)
submit/sessions/

